html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "My Puma Oblique Outlined";
  src: url(./assets/fonts/MyPumaObliqueOutlined.ttf);
}

@font-face {
  font-family: "Nau Sea";
  src: url(./assets/fonts/NauSea.otf);
}
body {
  font-family: "Josefin Sans";
  /* background-color: #28282b; */
  background-color: black;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
.logo {
  width: 60px;
  height: 60px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  /* width: 500px;
  height: 500px; */
}

.hero-banner-img {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;
  z-index: -10;
}

.exercise-card {
  background-color: white;

  text-decoration: none;
  margin-bottom: "5px";
  /* padding-bottom: 10px; */
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.excercise-img {
  width: 300px;
  height: 300px;
}

.bodyPart-card {
  /* transform: scale(1, 1);
  transition: 0.3s all ease-in-out; */
  overflow: hidden;
}

.bodyPart-card img {
  /* transform: scale(1, 1);
  transition: 0.3s all ease-in-out; */

  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;
}

.exercise-card:hover {
  /* transform: scale(0.95, 0.95); */
}

.bodyPart-card:hover img {
  transform: scale(1.5);
}
.exercise-video {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  width: 387px;
  /* height: 381px; */
  text-decoration: none;
}

*:focus {
  outline: none;
}

.mobile-banner {
  z-index: -10;
  position: absolute;
  right: 0px;
  top: 80px;
  width: 100%;
}
.video_responsive {
  min-width: 400px;
  height: 220px;
}

@media screen and (max-width: 1200px) {
  .left-arrow,
  .right-arrow {
    /* position: static !important; */
  }

  /* .hero-banner-img {
    display: none;
  } */

  .exercise-card {
    /* width: 320px; */
  }

  .exercise-video {
    width: 320px;
    /* height: 300px; */
  }
}

/* @media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
} */

@media screen and (max-width: 600px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .video_responsive {
    min-width: 55vw;
    height: 220px;
  }
}
